USE [master]
GO
/****** Object:  Database [HYDRODIFFUSION]    Script Date: 02/03/2021 20:47:19 ******/
CREATE DATABASE [HYDRODIFFUSION]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HYDRODIFFUSION', FILENAME = N'C:\DiscoC\SqlData\HYDRODIFFUSION.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'HYDRODIFFUSION_log', FILENAME = N'C:\DiscoC\SqlLog\HYDRODIFFUSION_log.ldf' , SIZE = 1536KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HYDRODIFFUSION].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HYDRODIFFUSION]
GO
/****** Object:  Table [dbo].[HYD_EMPRESA]    Script Date: 02/03/2021 20:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HYD_EMPRESA](
	[EMP_EMPRESA] [int] IDENTITY(1,1) NOT NULL,
	[EMP_Nombre] [varchar](60) NULL,
	[EMP_Direccion] [varchar](80) NULL,
	[EMP_Telefono] [numeric](8, 0) NULL,
	[EMP_EMail] [varchar](50) NULL,
 CONSTRAINT [PK_EMP_EMPRESAHYD_EMPRESA] PRIMARY KEY CLUSTERED 
(
	[EMP_EMPRESA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HYD_MOVIMIENTO_PRODUCTO]    Script Date: 02/03/2021 20:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HYD_MOVIMIENTO_PRODUCTO](
	[MOP_Movimiento_Producto] [int] IDENTITY(1,1) NOT NULL,
	[MOP_Cantidad] [numeric](10, 4) NULL,
	[MOP_Fecha_Movimiento] [date] NULL,
	[PRO_Producto] [int] NULL,
	[TMO_Tipo_Movimiento] [int] NULL,
 CONSTRAINT [PK_MOP_Movimiento_Producto] PRIMARY KEY CLUSTERED 
(
	[MOP_Movimiento_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HYD_PERSONA]    Script Date: 02/03/2021 20:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HYD_PERSONA](
	[PER_Persona] [int] IDENTITY(1,1) NOT NULL,
	[PER_PrimerNombre] [varchar](40) NULL,
	[PER_SegundoNombre] [varchar](40) NULL,
	[PER_PrimerApellido] [varchar](40) NULL,
	[PER_SegundoApellido] [varchar](40) NULL,
	[PER_DPI] [numeric](15, 0) NULL,
	[PER_Direccion] [varchar](60) NULL,
	[PER_Telefono] [numeric](8, 0) NULL,
	[PER_EMail] [varchar](60) NULL,
	[PUE_Puesto] [int] NULL,
 CONSTRAINT [PK_PER_Persona] PRIMARY KEY CLUSTERED 
(
	[PER_Persona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HYD_PRODUCTO]    Script Date: 02/03/2021 20:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HYD_PRODUCTO](
	[PRO_Producto] [int] IDENTITY(1,1) NOT NULL,
	[MAP_Descripcion] [varchar](40) NULL,
	[PRO_Proveedor] [int] NULL,
	[TPR_Tipo_Producto] [int] NULL,
 CONSTRAINT [PK_PRO_Producto] PRIMARY KEY CLUSTERED 
(
	[PRO_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HYD_PROVEEDOR]    Script Date: 02/03/2021 20:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HYD_PROVEEDOR](
	[PRO_Proveedor] [int] IDENTITY(1,1) NOT NULL,
	[PRO_Nombre] [varchar](40) NULL,
	[PRO_Direccion] [varchar](80) NULL,
	[PRO_NIT] [varchar](20) NULL,
	[PRO_telefono] [numeric](8, 0) NULL,
	[EMP_Empresa] [int] NULL,
 CONSTRAINT [PK_PRO_Proveedor] PRIMARY KEY CLUSTERED 
(
	[PRO_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HYD_PUESTO]    Script Date: 02/03/2021 20:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HYD_PUESTO](
	[PUE_Puesto] [int] IDENTITY(1,1) NOT NULL,
	[PUE_Descripcion] [varchar](80) NULL,
 CONSTRAINT [PK_PUE_Puesto] PRIMARY KEY CLUSTERED 
(
	[PUE_Puesto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HYD_ROL]    Script Date: 02/03/2021 20:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HYD_ROL](
	[ROL_Rol] [int] IDENTITY(1,1) NOT NULL,
	[ROL_Descripion] [varchar](40) NULL,
 CONSTRAINT [PK_ROL_Rol] PRIMARY KEY CLUSTERED 
(
	[ROL_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HYD_TIPO_MOVIMIENTO]    Script Date: 02/03/2021 20:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HYD_TIPO_MOVIMIENTO](
	[TMO_Tipo_Movimiento] [int] IDENTITY(1,1) NOT NULL,
	[TMO_Descripcion] [varchar](40) NULL,
 CONSTRAINT [PK_TMO_Tipo_Movimiento] PRIMARY KEY CLUSTERED 
(
	[TMO_Tipo_Movimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HYD_TIPO_PRODUCTO]    Script Date: 02/03/2021 20:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HYD_TIPO_PRODUCTO](
	[TPR_Tipo_Producto] [int] IDENTITY(1,1) NOT NULL,
	[TPR_Descripcion] [varchar](40) NULL,
	[TRP_Medida] [varchar](20) NULL,
 CONSTRAINT [PK_TPR_Tipo_Producto] PRIMARY KEY CLUSTERED 
(
	[TPR_Tipo_Producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HYD_USUARIO]    Script Date: 02/03/2021 20:47:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HYD_USUARIO](
	[USU_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[USU_Nombre] [varchar](40) NULL,
	[USU_Contrasenia] [varchar](40) NULL,
	[PER_Persona] [int] NULL,
 CONSTRAINT [PK_USU_Usuario] PRIMARY KEY CLUSTERED 
(
	[USU_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[HYD_MOVIMIENTO_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRO_Producto] FOREIGN KEY([PRO_Producto])
REFERENCES [dbo].[HYD_PRODUCTO] ([PRO_Producto])
GO
ALTER TABLE [dbo].[HYD_MOVIMIENTO_PRODUCTO] CHECK CONSTRAINT [FK_PRO_Producto]
GO
ALTER TABLE [dbo].[HYD_MOVIMIENTO_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_TMO_Tipo_Movimiento] FOREIGN KEY([TMO_Tipo_Movimiento])
REFERENCES [dbo].[HYD_TIPO_MOVIMIENTO] ([TMO_Tipo_Movimiento])
GO
ALTER TABLE [dbo].[HYD_MOVIMIENTO_PRODUCTO] CHECK CONSTRAINT [FK_TMO_Tipo_Movimiento]
GO
ALTER TABLE [dbo].[HYD_PERSONA]  WITH CHECK ADD  CONSTRAINT [FK_PUE_Puesto] FOREIGN KEY([PUE_Puesto])
REFERENCES [dbo].[HYD_PUESTO] ([PUE_Puesto])
GO
ALTER TABLE [dbo].[HYD_PERSONA] CHECK CONSTRAINT [FK_PUE_Puesto]
GO
ALTER TABLE [dbo].[HYD_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRO_Proveedor] FOREIGN KEY([PRO_Proveedor])
REFERENCES [dbo].[HYD_PROVEEDOR] ([PRO_Proveedor])
GO
ALTER TABLE [dbo].[HYD_PRODUCTO] CHECK CONSTRAINT [FK_PRO_Proveedor]
GO
ALTER TABLE [dbo].[HYD_PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_TPR_Tipo_Producto] FOREIGN KEY([TPR_Tipo_Producto])
REFERENCES [dbo].[HYD_TIPO_PRODUCTO] ([TPR_Tipo_Producto])
GO
ALTER TABLE [dbo].[HYD_PRODUCTO] CHECK CONSTRAINT [FK_TPR_Tipo_Producto]
GO
ALTER TABLE [dbo].[HYD_PROVEEDOR]  WITH CHECK ADD  CONSTRAINT [FK_EMP_Empresa] FOREIGN KEY([EMP_Empresa])
REFERENCES [dbo].[HYD_EMPRESA] ([EMP_EMPRESA])
GO
ALTER TABLE [dbo].[HYD_PROVEEDOR] CHECK CONSTRAINT [FK_EMP_Empresa]
GO
ALTER TABLE [dbo].[HYD_USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_PER_Persona] FOREIGN KEY([PER_Persona])
REFERENCES [dbo].[HYD_PERSONA] ([PER_Persona])
GO
ALTER TABLE [dbo].[HYD_USUARIO] CHECK CONSTRAINT [FK_PER_Persona]
GO
USE [master]
GO
